In [6]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv('AAPL (1).csv')
data = data.sort_values('Date')
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2006-01-17,3.060714,3.085000,2.995357,3.025357,2.586735,835623600
1,2006-01-18,2.967143,3.001786,2.923214,2.946071,2.518944,1200637200
2,2006-01-19,2.901786,2.916429,2.812143,2.822857,2.413594,1695848000
3,2006-01-20,2.831429,2.858571,2.708214,2.717500,2.323511,1134758800
4,2006-01-23,2.717857,2.841429,2.714286,2.773929,2.371759,1059730000
...,...,...,...,...,...,...,...
4106,2022-05-09,154.929993,155.830002,151.490005,152.059998,152.059998,131577900
4107,2022-05-10,155.520004,156.740005,152.929993,154.509995,154.509995,115366700
4108,2022-05-11,153.500000,155.449997,145.809998,146.500000,146.500000,142689800
4109,2022-05-12,142.770004,146.199997,138.800003,142.559998,142.559998,182602000
4110,2022-05-13,144.589996,148.100006,143.110001,147.110001,147.110001,113787000

In [20]:
data['year'] = pd.DatetimeIndex(data['Date']).year

In [21]:
data

,Date,Open,High,Low,Close,Adj Close,Volume,year
0,2006-01-17,3.060714,3.085000,2.995357,3.025357,2.586735,835623600,2006
1,2006-01-18,2.967143,3.001786,2.923214,2.946071,2.518944,1200637200,2006
2,2006-01-19,2.901786,2.916429,2.812143,2.822857,2.413594,1695848000,2006
3,2006-01-20,2.831429,2.858571,2.708214,2.717500,2.323511,1134758800,2006
4,2006-01-23,2.717857,2.841429,2.714286,2.773929,2.371759,1059730000,2006
...,...,...,...,...,...,...,...,...
4106,2022-05-09,154.929993,155.830002,151.490005,152.059998,152.059998,131577900,2022
4107,2022-05-10,155.520004,156.740005,152.929993,154.509995,154.509995,115366700,2022
4108,2022-05-11,153.500000,155.449997,145.809998,146.500000,146.500000,142689800,2022
4109,2022-05-12,142.770004,146.199997,138.800003,142.559998,142.559998,182602000,2022
4110,2022-05-13,144.589996,148.100006,143.110001,147.110001,147.110001,113787000,2022

In [22]:
data['year'].unique()

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022], dtype=int64)

In [23]:
fins = pd.read_csv('aapl_financials_annual_2012_to_21.csv')
fins

,0,1,2,3,4,5,6,7,8,9,year
0,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16,2012
1,-2.328658,-0.236350,-0.569823,-0.080732,-0.009465,-0.005555,0.005661,0.563133,0.469143,1.472847e-16,2013
2,-1.825678,0.027824,0.242792,-0.999958,0.943870,0.366355,-0.070124,-0.365443,0.075132,3.931118e-16,2014
3,-0.763644,0.572468,1.014057,-0.152573,0.133129,-0.310420,0.752342,0.220054,-0.337502,4.485186e-16,2015
4,-0.575543,0.950020,-0.210046,0.170357,-0.636402,-0.586404,0.103635,-0.474704,0.317910,2.903193e-16,2016
5,0.175217,1.670885,0.490142,-0.194317,-0.677658,0.484829,-0.488269,0.153539,-0.185334,2.625227e-16,2017
6,1.400738,0.681338,-0.104644,1.138532,1.053516,-0.228053,-0.305750,0.055497,-0.025128,2.566455e-16,2018
7,1.826610,-0.133991,-1.523343,0.339068,-0.158888,0.654952,0.522710,-0.106525,-0.025332,4.933488e-16,2019
8,1.983195,-0.711189,-1.144506,-0.933311,-0.072112,-0.549690,-0.287575,0.103004,-0.257805,1.589093e-16,2020
9,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17,2021

In [26]:
price_fin = data.merge(fins, how='inner', on = 'year')

In [27]:
price_fin

,Date,Open,High,Low,Close,Adj Close,Volume,year,0,1,2,3,4,5,6,7,8,9
0,2012-01-03,14.621429,14.732143,14.607143,14.686786,12.557467,302220800,2012,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16
1,2012-01-04,14.642857,14.810000,14.617143,14.765714,12.624949,260022000,2012,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16
2,2012-01-05,14.819643,14.948214,14.738214,14.929643,12.765110,271269600,2012,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16
3,2012-01-06,14.991786,15.098214,14.972143,15.085714,12.898553,318292800,2012,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16
4,2012-01-09,15.196429,15.276786,15.048214,15.061786,12.878098,394024400,2012,-3.056348,-1.578398,0.133356,0.742229,-0.375426,0.054795,-0.222613,-0.143832,-0.301981,5.324063e-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2021-12-27,177.089996,180.419998,177.070007,180.330002,179.836319,74919600,2021,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17
2513,2021-12-28,180.160004,181.330002,178.529999,179.289993,178.799164,79144300,2021,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17
2514,2021-12-29,179.330002,180.630005,178.139999,179.380005,178.888916,62348900,2021,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17
2515,2021-12-30,179.470001,180.570007,178.089996,178.199997,177.712143,59773000,2021,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17
2516,2021-12-31,178.089996,179.229996,177.259995,177.570007,177.083878,64062300,2021,3.164110,-1.242607,1.672015,-0.029295,-0.200564,0.119189,-0.010018,-0.004723,0.270896,-1.576627e-17

In [54]:
news = pd.read_csv("news_embeddings_aapl.csv")

In [55]:
news.drop(["title", "content"], axis=1, inplace=True)

In [56]:
news.rename(columns={"release_date": "Date"}, inplace=True)

In [57]:
news.columns

Index(['Date', 'news', 'opinion', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
      dtype='object')

Disc

In [58]:
news = news.sort_values('Date')
news

,Date,news,opinion,0,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,2012-07-16,0,1,-0.046826,-1.141754,7.856352,-1.728148,1.555406,3.766478,0.597022,...,-0.383450,0.581312,-1.383534,-0.202733,-1.265469,-1.117890,0.733506,1.223844,1.230695,1.081238
1,2012-07-19,0,1,-1.812753,-0.336095,-3.330870,-4.325975,-0.690286,2.572833,-0.939476,...,1.640829,0.668213,1.217971,1.474376,-0.499962,-1.067962,0.515083,-1.722879,0.302437,1.219896
2,2012-07-23,0,1,2.394987,2.709535,-0.571670,2.719582,2.794561,7.596699,-0.831986,...,0.470887,-0.683045,-0.390708,-0.973485,0.220965,0.149232,-0.095951,0.344678,0.451608,-0.067240
3,2012-07-23,0,1,-3.538170,-2.864984,2.228637,-0.755990,1.179559,-1.576074,1.963962,...,-1.712676,-0.625680,2.426436,-0.441789,0.033768,0.055088,1.017152,2.908112,-0.630118,1.864819
4,2012-07-23,0,1,-0.459115,2.616327,-6.711671,-1.265890,4.042926,3.572455,-0.061322,...,0.598755,-0.715471,0.697374,-1.090303,-0.225632,-0.105611,0.211142,0.634802,-0.545757,-0.181289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20181,2020-01-28,1,0,1.277793,-6.496056,-1.280167,0.567696,1.367502,-2.173077,-3.062052,...,-0.954641,-1.613756,-1.858459,-0.735708,-0.881697,0.404601,1.252148,-0.025288,0.450364,0.129732
20180,2020-01-28,1,0,5.751028,2.208375,-1.190073,4.158408,-3.852406,1.470211,2.898071,...,-1.077428,0.214957,0.901842,0.682669,-2.718745,0.297627,0.291292,-0.229718,-1.173411,-0.859766
20179,2020-01-28,1,0,1.420817,3.839945,-2.159291,0.151875,-0.922613,-1.917957,0.605095,...,0.310187,-0.479886,0.633611,-0.774202,-0.164145,0.254870,0.459949,0.206575,-1.272987,-1.405890
20185,2020-01-28,1,0,1.183264,4.900332,-7.606012,1.741255,1.368129,0.477717,0.680664,...,2.298934,0.509645,-0.433001,-0.618730,0.502787,0.182634,0.679773,1.013391,0.388049,0.156490
20230,2020-01-28,1,0,1.954296,2.111971,0.270756,4.530529,3.883496,4.777837,-0.842468,...,-0.272660,-0.066878,0.283922,-0.270698,0.507047,0.647942,-0.063883,0.609070,0.864741,-0.995677

In [59]:
news = news.groupby("Date").mean()

In [60]:
price_fin_news = price_fin.merge(news, how='inner', on = 'Date')
price_fin_news

,Date,Open,High,Low,Close,Adj Close,Volume,year,0_x,1_x,...,22,23,24,25,26,27,28,29,30,31
0,2012-07-16,21.611429,21.843571,21.607857,21.675358,18.532820,301260400,2012,-3.056348,-1.578398,...,-0.383450,0.581312,-1.383534,-0.202733,-1.265469,-1.117890,0.733506,1.223844,1.230695,1.081238
1,2012-07-19,21.831429,21.976786,21.642857,21.940001,18.759096,436861600,2012,-3.056348,-1.578398,...,1.640829,0.668213,1.217971,1.474376,-0.499962,-1.067962,0.515083,-1.722879,0.302437,1.219896
2,2012-07-23,21.228571,21.639286,20.989643,21.565357,18.438772,487975600,2012,-3.056348,-1.578398,...,-0.214345,-0.674732,0.911034,-0.835192,0.009700,0.032903,0.377448,1.295864,-0.241422,0.538763
3,2012-07-24,21.692142,21.774286,21.375357,21.461430,18.349909,565132400,2012,-3.056348,-1.578398,...,0.283035,1.606972,1.514103,1.357647,-0.967494,-2.515477,-0.139317,-0.080673,0.713560,-0.611271
4,2012-07-27,20.536072,20.922501,20.413929,20.898571,17.868654,403936400,2012,-3.056348,-1.578398,...,0.796556,-0.132134,1.702851,-1.093365,1.801993,-0.372174,0.404851,0.716857,2.978303,-1.920877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,2020-01-22,79.644997,79.997498,79.327499,79.425003,78.048225,101832400,2020,1.983195,-0.711189,...,0.416150,-0.061648,-0.250074,-0.167642,0.176324,0.062001,0.055038,-0.262346,0.271033,0.177052
1736,2020-01-23,79.480003,79.889999,78.912498,79.807503,78.424103,104472000,2020,1.983195,-0.711189,...,0.277133,-0.240001,-0.211713,0.089325,-0.129073,-0.435780,-0.284751,-0.159368,-0.127891,-0.208691
1737,2020-01-24,80.062500,80.832497,79.379997,79.577499,78.198097,146537600,2020,1.983195,-0.711189,...,-0.208832,-0.855874,0.109507,-0.718100,-0.096044,-0.367010,0.804894,-0.275400,0.157660,0.232280
1738,2020-01-27,77.514999,77.942497,76.220001,77.237503,75.898651,161940000,2020,1.983195,-0.711189,...,-0.239336,0.356317,-0.187070,0.207452,0.051252,-0.407059,-0.379701,-0.338336,0.157730,0.208805
1739,2020-01-28,78.150002,79.599998,78.047501,79.422501,78.045769,162234000,2020,1.983195,-0.711189,...,-0.123747,-0.048822,0.177265,0.076832,-0.001828,-0.179531,0.224371,0.007125,0.073179,0.046639

In [62]:
price_fin_news.to_csv("price_fin_news.csv")